{namespace blogging=Atomicptr\Blogging\ViewHelpers}
<div class="post">
    <h3 class="post-title">
        <f:link.page pageUid="{post.uid}">
            {post.title}
        </f:link.page>
    </h3>
    <span class="post-date"><f:format.date date="{post.crdate}" format="d. M. Y" /></span>

    <div class="post-content">
        <blogging:postSummary post="{post}" maxLength="500" />
    </div>

    <f:if condition="{post.categories -> f:count()} > 0">
        <div class="post-categories">
            <f:for each="{post.categories}" as="category" iteration="iter">
                <f:if condition="{settings.categoryPage}">
                    <f:then>
                        <f:link.action
                            pageUid="{settings.categoryPage}"
                            action="listPostByCategory"
                            controller="Blogging"
                            pluginName="CategoryPostListPlugin"
                            arguments="{categoryUid: category.uid}">
                                #{category.title}
                        </f:link.action>
                    </f:then>
                    <f:else>
                        #{category.title}
                    </f:else>
                </f:if>
                <f:if condition="!{iter.isLast}">, </f:if>
            </f:for>
        </div>
    </f:if>
</div>